@media (max-width: 800px) {
  nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Passe en colonne pour le mode responsive */
    height: 500px !important;
    gap: 0;
  }

  nav>section {
    display: grid;
    flex-direction: column;
    margin-bottom: 0;
  }

  .yoda {
    width: 40px;
  }

  .corps {
    display: grid;
    flex-direction: column !important;
    grid-template-columns: 1fr !important;
  }

  .tweet {
    display: grid;
    flex-direction: column;
    grid-column: 1fr;
  }

  aside {
    display: grid;
    grid-row: 1/2;
  }

  .tweet {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .logo {
    order: 1;
    /* Réorganise l'ordre des éléments pour placer le logo au milieu */
    flex-wrap: wrap;
  }

  .gauche {
    order: 1;
  }

  .droite {
    order: 2;

  }

  .tweet:nth-child(1n) {
    grid-column: 1/3;
  }

  .tweet:nth-child(3n) {
    grid-column: 3/3;
  }

}